<div class="<%= card_classes %>">
  <% if header? %>
    <div class="px-5 py-4">
      <%= header %>
    </div>
  <% end %>

  <% if body? %>
    <div class="px-5 py-4">
      <%= body %>
    </div>
  <% end %>

  <% if footer? %>
    <div class="border-t border-slate-200 dark:border-slate-700/50 px-5 py-4">
      <%= footer %>
    </div>
  <% end %>
</div>
