<div class="bg-white border border-slate-200 shadow-sm rounded-lg overflow-hidden
            dark:bg-slate-800 dark:border-slate-700 dark:shadow-none">
  <% if header? %>
    <div class="px-4 py-3">
      <%= header %>
    </div>
  <% end %>

  <% if body? %>
    <div class="px-4 py-3">
      <%= body %>
    </div>
  <% end %>

  <% if footer? %>
    <div class="border-t border-slate-200 dark:border-slate-700 px-4 py-3">
      <%= footer %>
    </div>
  <% end %>
</div>
