<%= turbo_frame_tag "question_#{question.id}_correction" do %>
  <% if question.answer %>
    <div class="flex flex-wrap items-center justify-center gap-4 mb-4">
      <%= button_to "Voir la correction",
          student_subject_question_correction_path(access_code: access_code, subject_id: subject.id, question_id: question.id),
          method: :post,
          data: { turbo_frame: "question_#{question.id}_correction" },
          class: "px-8 py-3 border border-rad-text text-rad-text bg-transparent rounded-[14px] text-[13.5px] font-bold cursor-pointer hover:bg-rad-raise transition-colors" %>
    </div>
  <% end %>
<% end %>
