<div class="flex h-1.5" aria-hidden="true">
  <div class="flex-1 bg-rad-red"></div>
  <div class="flex-1 bg-rad-yellow"></div>
  <div class="flex-1 bg-rad-teal"></div>
  <div class="flex-1 bg-rad-ink"></div>
</div>
